@CHARSET "ISO-8859-1";
html, body, form, fieldset, legend, ol, li ,tr,td{
	margin: 2;
	padding: 1;
}
body {
	background: black;
	color:purple;
	text-shadow: 0 1px 1px black;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 220px;
	}
form#payment {
	background:lightgreen;
	border-radius: 60px;
	padding: 5px;
	width: 800px;
	}
	form#payment fieldset:last-of-type {
	margin-bottom: none;
}
form#payment label{
 padding:180px;
 width:20px;
 font-size:15px;
 }
form#payment legend {
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
	}
	form#payment textarea {
	border-radius: 30px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: 200px;
	padding: 40px;
	width: 200px;
	border-color:black;
}
form#payment input{
	padding:10px;
	width:200px;
	margin:15px;
	border-radius:20px;
	border-color:black;
}
form#payment select{
	padding:5px;
	width:150px;
	margin:2px;
	border-radius:20px;
	border-color:black;
}
form#payment button {
	background: green;
	border:5px;
	border-radius: 50px;
	color: blue;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing:5px;
	margin:20px;
	padding: 7px 25px;
	text-shadow: 0 1px 1px black;
	text-transform: uppercase;
}	
form#payment button:hover {
	background: orange;
	cursor: pointer;
}
form#payment input[type=checkbox] {float:center;width: 30px;padding:5; border-color:orange}
form#payment input[type=radio] {float: center;width: 30px;padding:5;border-color:orange}
.headlines,.sublines,.infotext{font-family:italic;}
.headlines{color:blue;font-size:30;}
.sublines{color:orange;}
.infotext{border-color:black;}
.class1 A:hover{color:green;}